@use "~bootstrap/scss/bootstrap";

:root {
    --borda-cor: rgb(219, 205, 126);
    --borda-cor-hover: rgb(219, 182, 126);
}

body {
    background-color: rgb(245, 244, 231);
}

a {
    text-decoration: none;
}

.list-item {
    text-align: left;

    &::before {
        content: "→";
        font-size: 60px;
        line-height: 0.4rem;
        vertical-align: sub;
    }


}

.list-ataque {
    border: 3px solid black;
    background-color: #ddd;
}

.header-tipos {
    margin-top: 20px;
    text-align: left;
}


.type {
    &-lightning {
        background-color: rgb(255, 238, 0);
        border: 1px solid black;
    }

    &-grass {
        background-color: rgb(92, 247, 105);
        border-color: rgb(26, 143, 36);
        color: rgb(10, 90, 17);
    }

    &-water {
        background-color: rgb(87, 228, 233);
        border-color: rgb(31, 72, 185);
        color: rgb(22, 10, 90);
    }

    &-psychic {
        background-color: rgb(208, 141, 252);
        border-color: rgb(63, 26, 133);
        color: rgb(34, 4, 83);
    }

    &-darkenss {
        background-color: rgb(0, 0, 0);
        border-color: rgb(0, 0, 0);
        color: rgb(230, 230, 230);
    }

    &-fire {
        background-color: rgb(255, 100, 100);
        border-color: rgb(114, 11, 11);
        color: rgb(59, 3, 3);
    }

    &-fighting {
        background-color: rgb(100, 48, 48);
        border-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    &-dragon {
        background-color: rgb(255, 166, 0);
        border-color: rgb(185, 0, 0);
        color: rgb(56, 0, 0);
    }

    &-metal {
        background-color: rgb(126, 126, 126);
        border-color: rgb(13, 8, 53);
        color: rgb(255, 255, 255);
    }
}

.card {
    color: rgb(138, 110, 74);
    border-color: var(--borda-cor);
    &-moving {
        padding: 0 2px 2px 0;
    
        &:active {
            padding: 2px 0 0 2px;
        }
    }
    &-deck {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 10px 30px;
    }
    &-small {
        width: 380px;
        text-decoration: none;
    
        &:hover {
            border-color: var(--borda-cor-hover);
        }
    }
    &-large {
        color: rgb(138, 110, 74);
        text-decoration: none;
        border-color: var(--borda-cor);
    }
    &-header {
        border-color: var(--borda-cor);
        background-color: rgb(232, 238, 209);
    }
    &-link:hover {
        box-shadow: 4px 8px 20px rgba(156, 93, 42, 0.4);
    }
    &-imagem-left {
        text-align: left;
    
        img {
            width: 96%;
            box-sizing: content-box;
        }
    }
}

.card-small:hover {
    .card-header {
        background-color: rgb(245, 220, 199);
        border-color: var(--borda-cor-hover);
    }
    .card-body {
        background-color: rgb(243, 238, 220);
    }
}

.my-shadow {
    box-shadow: var(--bs-box-shadow);
}

.large-card-separator-container {
    display: flex;
}

.large-card-body-separator {
    box-sizing: content-box;
    width: 50%;
}